#section08{
    height: 86vh;
    min-height: 100%;
  }

.carousel-item {
  background: linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,.5)), url(/img/truck.jpg)!important;
  height: 100vh;
  min-height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}

.carousel-caption{
  color: black;
}

section {
  position: relative;
  width: 100%;
  height: 100%;
}
section::after {
  position: absolute;
  bottom: 0;
  left: 0;
  content: '';
  width: 100%;
  height: 80%;
}

.demo a {
  left: 50%;
  z-index: 2;
  display: inline-block;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  color: black;
  letter-spacing: .1em;
  text-decoration: none;
  transition: opacity .3s;
}
.demo a:hover {
  opacity: .5;
}
#section07 a {
  padding-top: 4rem;
  margin-top: 1.5rem;
  color: black;
}
#section07 a span {
  position: absolute;
  top: 0;
  left: 50%;
  width: 24px;
  height: 24px;
  margin-left: -12px;
  border-left: 2px solid black;
  border-bottom: 2px solid black;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-animation: sdb07 2s infinite;
  animation: sdb07 2s infinite;
  opacity: 0;
  box-sizing: border-box;
}
#section07 a span:nth-of-type(1) {
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
}
#section07 a span:nth-of-type(2) {
  top: 16px;
  -webkit-animation-delay: .15s;
  animation-delay: .15s;
}
#section07 a span:nth-of-type(3) {
  top: 32px;
  -webkit-animation-delay: .3s;
  animation-delay: .3s;
}
@-webkit-keyframes sdb07 {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes sdb07 {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.icon{
  transition: 0.5s;
}
.icon:hover{
  transform: scale(1.2);
  transition: 0.5s;
}

@media screen and (max-width: 770px) {
  #section08 {
    margin-bottom: 20rem;
  }
}

@media screen and (max-width: 460px) {
  #section08 {
    margin-bottom: 30rem;
  }
}

@media screen and (max-width: 380px) {
  #section08 {
    margin-bottom: 45rem;
  }
}